.registerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;

  color: black;
}

.field input {
  padding: 8px;

  border: 1px solid #f8edd3;
  border-radius: 6px;
  background-color: #f8edd3;

  font-family: 'Metamorphous', sans-serif;
  font-size: 12px;
  transition: border-color 0.3s ease-in-out;
}

.field span {
  padding-left: 20px;

  font-size: 12px;
  font-family: 'Metamorphous', sans-serif;
}

.error {
  color: #d9534f;
  font-size: 0.6rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

.registerButton {
  flex: 1;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;

  border: none;
  border-bottom: 2px solid #f8edd3;
  border-radius: 0 0 20px 20px;

  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.3s ease-in-out;
}

.registerButton {
  background-color: transparent;

  color: #9fb033;
  font-size: 12px;
  font-family: 'Metamorphous', sans-serif;
}

.registerButton:hover {
  transform: translateY(-4px);
}

.registerButton:active {
  transform: translateY(0);
}

@media screen and (min-width: 576px) {
  .registerButton {
    margin-top: 12px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

/* 




.field input:focus {
  border-color: #838383;
  outline: none;
}



.actions {
  display: flex;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .form {
    padding: 1rem;
  }

  .field input {
    font-size: 0.9rem;
  }
} */
