.deckPageContainer {
  height: 90vh;
}

.deckPageTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  margin: 30px auto 10px auto;
  padding: 10px 30px;
  font-family: 'Metamorphous', sans-serif;
  border-radius: 20px;
  background-color: #f8edd3;
}

.deckPageDeck {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 2vw;
  width: 86%;
  margin: auto;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #f8edd3;
}

.deckPlusContainer {
  width: 18%;
  display: flex;
  justify-content: center;
}

.plus {
  font-size: clamp(4rem, 8vw, 10rem);
  color: #a87304;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.plus:hover {
  color: #dab971;
  transform: scale(1.1);
}

.plus:active {
  color: #a87304;
  transform: scale(1.05);
}

.deckContainer {
  width: 18%;
  display: flex;
  justify-content: center;
}

.deckContainer img {
  width: 100%;
  max-width: 12rem;
  height: auto;
}

@media (max-width: 768px) {
  .deckPageDeck {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .deckPlusContainer, .deckContainer {
    width: 30%;
  }

  .plus {
    font-size: 6rem;
  }
}

@media (max-width: 480px) {
  .deckPlusContainer, .deckContainer {
    width: 50%;
  }

  .plus {
    font-size: 4rem;
  }
}
