.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #664631;
    color: #333;
    font-family: 'Metamorphous', sans-serif;
}

.title {
    font-size: 4rem;
    color: #a87304;
    margin-bottom: 1rem;
}

.text {
    margin: 0 1rem;
    padding: 1rem;

    font-size: 1.5rem;
    color: #ffff;
    text-align: center;
}

.return {
    margin-top: 2rem;

    font-size: 1rem;
    color: #727848;
    text-decoration: none;
    font-family: 'Metamorphous', sans-serif;
}

.return:hover {
    text-decoration: underline;
}