.homePagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
  min-height: 90vh;
  font-family: 'Metamorphous', sans-serif;
}

.homePageTitle {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: #c6a65f;
}

.homePageDescription {
  font-size: 1.2rem;
  color: #f8edd3;
  max-width: 600px;
}

.homePageSections {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.homePageSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #445978;
  padding: 1.5rem;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.homePageSectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #c6a65f;
}

.homePageSection p {
  color: #f8edd3;
}

.homePageButton {
  margin-top: auto;
  margin-bottom: 10px;
  align-self: center;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.battleButton {
  background-color: #a82d16;
  color: white;
}

.battleButton:hover {
  background-color: #521e00;
  transform: translateY(-4px);
}

.aboutButton {
  background-color: #53612b;
  color: white;
}

.aboutButton:hover {
  background-color: #727848;
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  .homePageSections {
    grid-template-columns: 1fr 1fr;
  }
}