.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 2rem;

  background: linear-gradient(-45deg, #664631, #a87304, #521e00, #75300f, #c6a65f);
  background-size: 150% 150%;

  animation: gradient 12s ease infinite;
}

.authContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  min-height: 450px;
  padding: 1rem;

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0, 2rem;

  margin-bottom: 0.5rem;
  min-width: 80%;
  padding: 0.5rem;

  background-color: #f8edd3;
  border-radius: 20px;
}

.tab {
  padding: 0.3rem 1rem;

  background-color: transparent;
  border: none;

  font-size: 0.7rem;
  color: #77767e;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Metamorphous', sans-serif;
}

.tab.active {
  border-radius: 20px 0 0 20px;
  background-color: #c6a65f;

  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.tab.active2 {
  border-radius: 0 20px 20px 0;
  background-color: #c6a65f;

  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .authContent {
    width: 70%;
  }

  .tab {
    font-size: 0.8rem;
  }

  .tab.active {
    font-size: 0.9rem;
  }

  .tab.active2 {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .authContent {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .authContent {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .authContent {
    width: 30%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
