.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 2rem;

  background: linear-gradient(-45deg, #664631, #a87304, #521e00, #75300f, #c6a65f);
  background-size: 150% 150%;

  animation: gradient 12s ease infinite;
}

.authContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  min-height: 430px;
  padding: 1rem;

  background-color: #664631;
  border: 2px solid #b87937;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 576px) {
  .authContent {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .authContent {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .authContent {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .authContent {
    width: 30%;
  }
}

@media screen and (min-width: 1800px) {
  .authContent {
    width: 25%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}