.cardsSelected {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  position: relative;
}

.normalCardsContainer {
  background-color: #f0e6d2;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Metamorphous', sans-serif;
}

.fusionCardsContainer {
  background-color: #d7c9e7;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Metamorphous', sans-serif;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  color: #444;
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 8px;
  overflow-y: auto;
  justify-content: start;
}

.cardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.cardCounter {
  font-size: 1rem;
  font-weight: bold;
  color: #664631;
  font-family: 'Metamorphous', sans-serif;
  text-align: center;
  margin-top: 12px;
}

.trashIcon {
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.trashIcon:hover {
  transform: scale(1.1);
}
